* {
  box-sizing: border-box;
}

html {
    zoom: 150%;
}

button {
    border: none;
    border-radius: 1rem;
}

.card {
    box-shadow: 0px 1px 8px black;
}

.container {
    margin-top: 20px;
}

#tech-list {
    box-shadow: 0px 1px 4px black;
    background-color: #a986577e;
}

.container {
    max-width: 60%;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.slide-in {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 862px) {
    #tech-list {
      min-width: 100%;
    }
  }
  
  @media (max-width: 636px) {
    #tech-list {
      min-width: 100%;
      box-shadow: none;
      border: none;
      border-radius: 0;
    }
  
    .container {
      min-width: 100%;
    }
  
    .border {
      border: 0;
    }
  }
  
  @media (max-width: 712px) {
    div.proj-btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* border: 2px solid black; */
    }
    div.proj-btns > button {
        min-width: 60%;
    }
  }